.aside {
  margin-bottom: 50px;
  height: 390px;
  background-color: #aea38b;
}

.aside_inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 130px 0 134px;
}

.aside__text {
  display: inline-block;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}
