.canteen {
  padding-bottom: 820px;
  background-image: url("../images/Portfolio/canteen-bgi.webp");
  background-repeat: no-repeat;
  background-position: calc(50%) calc(50% + 480px);
}

.canteen__inner {
  background-image: url("../images/Portfolio/canteen-2.webp"),
    url("../images/Portfolio/canteen-3.webp"),
    url("../images/Portfolio/canteen-1.webp"),
    url("../images/Portfolio/canteen-4.webp"),
    url("../images/Portfolio/canteen-5.webp");
  background-repeat: no-repeat;
  background-position: top 234px left, top 234px left 400px, top 22px right,
    top 684px left, top 684px right;
}

.canteen__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
  color: #424242;
}

.canteen__content {
  margin-bottom: 480px;
  width: 100%;
  max-width: 762px;
}

.canteen__text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #424242;
}

.canteen-content {
  margin: 0 auto 50px;
  padding: 30px 0 48px;
  width: 100%;
  max-width: 360px;
  background-repeat: no-repeat;
  background-position: top left, top right;
}
