.service-list {
   margin-bottom: 140px;
}

.service-list__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
  color: #424242;
}

.service-list__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.service-list__item {
  width: 100%;
  max-width: 260px;
}

.service-list-list__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;
  color: #d8b152;
}

.service-list-list__text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #424242;
}
